.navbar {
  width: 100px;
  height: 100vh;
  padding: 16px; 
  position: fixed;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d1d1d1; 
}

.navbarMain {
  flex: 1;
  margin-top: 50px;
}

.link {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555; 
}

.link:hover {
  background-color: #f1f1f1; 
}

.link[data-active] {
  background-color: #d0e1ff;
  color: #1a73e8;
}

.link[data-active]:hover {
  background-color: #d0e1ff;
}
